* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

body {
    background-color: #e7e7e7;
    padding-top: 40px;
}

header {
    display: flex;
    align-items: center;
    margin-left: 25%;
}

header img {
    height: 50px;
    margin-right: 8px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;    
}

.container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

form{
    display: flex;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
    margin-top: 30px;
}

form button{
    background-color: rgb(0, 9, 128);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

form button:hover {
    background-color: green;
    color: black;
    transform: scale(1.1);
    transition: all 0.5s;
}
form button:hover:after {
   content: "+";
   font-size: 24px;
}

form input{
    font-size: 24px;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;
}

table{
    width: 100%;
}

table th{
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td{
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
}

footer{
    color: black;
    position:absolute;
    bottom: 0;
 }